/* Header inicio */
.header{
    display: flex;
    background-color: #F8A9C4;
    color: black;
    padding: 5px 5px;
    justify-content: space-around;
    align-items: center;
}
.header .logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
    margin: 5px;
}
.nav_bar{
    list-style-type: none;
}
.nav_bar .nav_item{
    display: inline-block;
    padding: 20px 10px;
}
.nav_bar  a{
    text-decoration: none;
    font-size: 20px;
}
.nav_bar .nav_item a:hover{
    color: black;    
}

/* Header fim */

/* Sobre inicio */
.img-slide{
    align-items: center;
}
.slide_show{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.texto_slides{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0rem 5rem;
    background-color: #F8A9C4;
}

.novo_karuna {
    text-align: center;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 3rem 0;
}

.novo_karuna h2{
    margin-bottom: 3rem;
}

.novo_karuna p{
    margin-bottom: 3rem;
}

.slides{
    position: relative;
    background-color: #D9A036;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides button{
    padding: 1rem;
    
}
.botao{
    position: absolute;
}
.slides img{
    width: auto;
    max-height: 300px;
}

.list_beneficios{
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
}
/* .beneficios{
    display: flex;
    align-items: center;
    padding: 30px 30px;
    flex-wrap: wrap;
} */

.beneficios img{
    width: 50px;
    height: 50px;
}
.beneficios p{
    padding: 20px;
}
/* Sobre fim */