/* Header inicio */
.header{
    display: flex;
    background-color: #F8A9C4;
    color: black;
    padding: 5px 5px;
    justify-content: space-around;
    align-items: center;
}
.header .logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
    margin: 5px;
}
.nav_bar{
    list-style-type: none;
}
.nav_bar .nav_item{
    display: inline-block;
    padding: 20px 10px;
}
.nav_bar  a{
    text-decoration: none;
    font-size: 20px;
}
.nav_bar .nav_item a:hover{
    color: black;    
}

/* Header fim */

/* Sobre inicio */
.img-slide{
    display: none;
}
.texto_slides{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0rem 5rem;
    background-color: #F8A9C4;
}

.novo_karuna {
    text-align: center;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 3rem 0;
}

.novo_karuna h2{
    margin-bottom: 3rem;
}

.novo_karuna p{
    margin-bottom: 3rem;
}
.slides{
    background-color: #F2E4E4;
    padding: 2rem;
}
.slides p{
    padding: 1rem;
    text-align: center;
}
.slides_container{
    position: relative;
    max-width: 775px;
    margin: auto;
}
.button-left, .button-rigth{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #091E26;
    background-color: #F8A9C4;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.button-rigth{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* Sobre fim */

/* Salas início */
.salas{
    display: flex;
    align-items: center;
    justify-items: center;
}
.sala img {
    width: auto;
    height: 300px;
}
/* Salas fim */